body{
  font-family: 'Rubik', sans-serif;
  background-color: black;
  text-align: center;
  border-left-width: 60px;
  border-right-width: 60px;
  border-bottom-width: 60px;
  border-color : blue;
  border-style: solid;
  border-top: 0px;
  font-size: 1.2em;
}
h1{
  padding-bottom: 10px;
  color: white;
}
h2{
  padding-bottom: 60px;
  color: white;
}
